#header{
    height: 20%;
    display: flex;
    background-color: black;
}
#menu{
    flex: 1;
    text-align: center;
    display: flex;
    padding: 1%;
}
#index,#about,#contact,#login{
    font-family: cursive;
    flex: 1;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-right: 28px;
    margin-left: 28px;
    margin-bottom: 10px;
    padding: 14px;
    border-style: outset;
    border-color: aquamarine;
    width: 65%;
}
#about:hover,#contact:hover,#login:hover,#index:hover{
    color: black;
    background-color: grey;
    border-style: inset;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}
#logo{
    flex: 1;
    padding: 1.01%;
}
img{
    width: 12%;
    height: 93%;
    border-radius: 0%;
    transition: all 1s ease-in-out;
    animation-name: logo;
    animation-delay: 1s;
    animation-duration: 2s;
    /*animation-fill-mode: forwards;*/
}
img:hover{
    transform: rotate(1800deg);
    border-radius: 0%;
}
@keyframes logo {
    from{
        border-radius: 0%;
    }
    to{
        border-radius: 50%;
    }
}
img{
    border-radius: 50%;
}